$light-gray: #EBEBEB;
$white: #FFFFFF;
$black: #3E3E3E;
$gray: #707070;

$body-bgcolor : $light-gray;

$main-bgcolor: $white;
$main-title-color: $black;

$tab-color: $gray;
$tab-color-hover: #1E4AB6;
$tab-color-resp: $black;
$tab-bgcolor-hover: #EEF7FE;

$product-name-color: $black;
$product-price-color: $black;
$product-price-bgcolor: $light-gray;
$product-cargo-color: $gray;
$product-button-bgcolor: #2A5EF0;
$product-button-color: $white;
$product-border-color: $light-gray;

$popup-bgcolor: #222931;
$popup-link-color: rgb(126, 71, 255);